<!DOCTYPE html>
<html>
<style>
h1 {
    color: blue;
    font-family: verdana;
    font-size: 300%;
}
p  {
    color: red;
    font-family: courier;
    font-size: 160%;
}
</style>
	<body>
		<p>Hello World</p>
		<h1>Zoozoo!!!!Tamiu</h1>
	</body>
</html>